<ng-container [formGroup]="form">
  <div class="field-wrap space-y-1.5">
    <label for="shop-name">{{ 'shops.shopName' | transloco }}</label>
    <input
      id="shop-name"
      type="text"
      pInputText
      formControlName="name"
      class="w-full"
      [disabled]="disabled"
    />
  </div>
  <div class="field-wrap space-y-1.5">
    <label for="shop-address">{{ 'shops.address' | transloco }}</label>
    <input
      id="shop-address"
      type="text"
      pInputText
      formControlName="address"
      class="w-full"
      [disabled]="disabled"
    />
  </div>
  <div class="field-grid">
    <div class="field-wrap space-y-1.5">
      <label for="shop-city">{{ 'shops.city' | transloco }}</label>
      <input
        id="shop-city"
        type="text"
        pInputText
        formControlName="city"
        class="w-full"
        [disabled]="disabled"
      />
    </div>
    <div class="field-wrap space-y-1.5">
      <label for="shop-state">{{ 'shops.state' | transloco }}</label>
      <input
        id="shop-state"
        type="text"
        pInputText
        formControlName="state"
        class="w-full"
        [disabled]="disabled"
      />
    </div>
  </div>
  <div class="field-wrap space-y-1.5">
    <label for="shop-pincode">{{ 'shops.pincode' | transloco }}</label>
    <input
      id="shop-pincode"
      type="text"
      pInputText
      formControlName="pincode"
      class="w-full"
      [disabled]="disabled"
    />
  </div>
  <div class="field-grid">
    <div class="field-wrap space-y-1.5">
      <label for="shop-contact-person">{{ 'shops.contactPersonOptional' | transloco }}</label>
      <input
        id="shop-contact-person"
        type="text"
        pInputText
        formControlName="contactPerson"
        class="w-full"
        [disabled]="disabled"
      />
    </div>
    <div class="field-wrap space-y-1.5">
      <label for="shop-mobile">{{ 'shops.mobileNumberOptional' | transloco }}</label>
      <input
        id="shop-mobile"
        type="text"
        pInputText
        formControlName="mobileNumber"
        class="w-full"
        [disabled]="disabled"
      />
    </div>
  </div>
  <div class="field-wrap space-y-1.5">
    <label for="shop-gst">{{ 'shops.gstNumberOptional' | transloco }}</label>
    <input
      id="shop-gst"
      type="text"
      pInputText
      formControlName="gstNumber"
      class="w-full"
      [disabled]="disabled"
    />
  </div>
</ng-container>
