<div class="flex justify-between gap-3 flex-wrap">
  <p-button
    [label]="'common.clear' | transloco"
    [outlined]="true"
    icon="pi pi-filter-slash"
    (click)="onClear()"
  />
  <p-iconfield iconPosition="left">
    <p-inputicon><i class="pi pi-search"></i></p-inputicon>
    <input
      pInputText
      type="text"
      [ngModel]="searchValue"
      (ngModelChange)="onSearchChange($event)"
      [placeholder]="placeholder"
      class="pr-10"
    />
    @if (searchValue) {
      <p-inputicon iconPosition="right" class="cursor-pointer" (click)="onClear()">
        <i class="pi pi-times text-slate-400 hover:text-slate-600"></i>
      </p-inputicon>
    }
  </p-iconfield>
</div>
